<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
        <env name="EVPAY_CALLBACK_URL" value="https://api.test/api/payments/evpay/callback" force="true"/>
        <env name="EVPAY_REDIRECT_URL" value="https://thetravela.com/dashboard" force="true"/>
        <env name="EVPAY_CANCEL_URL" value="https://thetravela.com/dashboard" force="true"/>
        <env name="EVPAY_BASE_URL" value="https://api-uat.evpay.co.tz" force="true"/>
        <env name="EVPAY_CLIENT_ID" value="test-client-id" force="true"/>
        <env name="EVPAY_CLIENT_SECRET" value="test-client-secret" force="true"/>
        <env name="EVPAY_SIGNING_KEY" value="test-signing-key" force="true"/>
    </php>
</phpunit>
